<navbar-app></navbar-app>
<div class="mt-3 mb-3 container d-flex justify-content-start">
  <h3 class="text-warning">Liste des employees</h3>
</div>

<span *ngIf="isAdd == false; else isAdded">
  <div class="mt-3 container d-flex justify-content-center">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employees">
          <ng-container *ngIf="item.isUpdate == false; else elseBlock" >
            <th  scope="row">
              {{item.id}}
            </th>
            <td>{{item.firstname}}</td>
            <td >{{item.lastname}}</td>
            <td >{{item.status}}</td>
            <td>
                <button (click)="del(item.id)" class="btn btn-danger mr-3">Delete</button>
                <button (click)="updateUser(item.id)" class="btn btn-warning">Update</button>
            </td>
          </ng-container>
          <ng-template #elseBlock>
              <th  scope="row">{{item.id}}</th>
              <td> <input type="text" value="" (keyup)="fName($event)" class="form-control" [(ngModel)]="item.firstname" /> </td>
              <td > <input type="text" value="" (keyup)="LName($event)" class="form-control" [(ngModel)]="item.lastname" /> </td>
              <td ><input type="text" value="" (keyup)="Statut($event)" class="form-control"  [(ngModel)]="item.status"/></td>
              <td >
                  <button (click)="editChangement(item.id)" class="btn btn-success">Commit</button>
              </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</span>

<ng-template #isAdded>
    <div class="container-fluid d-flex justify-content-center mt-5">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input (keyup)="mailAdd($event)" [(ngModel)]="mailEmployeAdd" type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword">Password</label>
            <input (keyup)="passAdd($event)" [(ngModel)]="passEmployeAdd" type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="FirstName">FirstName</label>
            <input (keyup)="firstNameAdd($event)" [(ngModel)]="firstNameEmployeAdd" type="text" class="form-control" id="FirstName">
          </div>
          <div class="form-group col-md-6">
            <label for="LastName">LastName</label>
            <input (keyup)="lastNameAdd($event)" [(ngModel)]="LastNameEmployeAdd" type="text" class="form-control" id="LastName">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Statut</label>
          <input (keyup)="statutAdd($event)" [(ngModel)]="statutEmployeAdd" type="text" class="form-control" id="inputAddress">
        </div>

        <div class="container d-flex justify-content-center">
          <a (click)="isAddedTo()" [routerLink]='["/","Employe"]' class="btn btn-primary">Commit</a>
        </div>
      </form>
    </div>

</ng-template>

<div *ngIf="isAdd == false" class="mt-3 container d-flex justify-content-start">
  <div>
    <button (click)="addNewOne()" class="btn btn-info" >Add a new employee</button>
  </div>
</div>
