<navbar-app></navbar-app>

<div class="container d-flex justify-content-center mt-4">
  <div><h4 class="h4 text-info">Welcome to RecyZone</h4></div>
</div>
<div class="container d-flex justify-content-center mt-3">
  <div class="mt-2">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, soluta?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, soluta?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, soluta?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, soluta?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, soluta?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, soluta?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, soluta?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, soluta?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, soluta?</p>
    <div class="container d-flex justify-content-center">
      <a class="btn btn-info" [routerLink]="['/','Login']">Continue</a>
    </div>
  </div>
</div>
