<navbar-app></navbar-app>

<div class="container d-flex justify-content-center mt-4 shadow border" style="width: 350px;">
  <div class="d-flex flex-column p-3">
    <div class="d-flex justify-content-center">
      <div>
        <img src="../../assets/img/user.png" alt="">
      </div>
    </div>
    <div class="container d-flex justify-content-center mt-3">
      <div class="mr-3">
        <a class="btn btn-info" [routerLink]="['/','inscription']">Inscription</a>
      </div>
      <div>
        <a class="btn btn-info" [routerLink]="['/','Login']">Connection</a>
      </div>
    </div>
  </div>
</div>
