<navbar-app></navbar-app>
<div class="container mt-4 d-flex justify-content-center">
      <div class="card shadow w-50"  >
        <div class="card-body">
          <div class="container d-flex justify-content-center">
            <h3 class="card-title">Informations personnelles</h3>
          </div>
          <div class="container d-flex justify-content-between mt-3">
              <div>
                <p class="card-text">Billing Billy</p>
                <p class="card-text">Avenue Louise</p>
                <p class="card-text">Commune de Bruxelle</p>
                <p class="card-text"><br></p>
              </div>
              <div>
                <p class="card-text">Disponibilité du jour : 1m³ </p>
                <p class="card-text">Quantite moyenne déchet : 12m³ </p>
              </div>
          </div>

        </div>
      </div>
</div>
