<navbar-app></navbar-app>
<div class="container bg-light d-flex flex-md-row flex-column mt-4 pt-5 pb-5 justify-content-center">
  <div class="mt-2">
      <h1 class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet in ex rerum natus, aliquam laborum vero ullam fuga fugiat! Debitis.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quibusdam tenetur rem excepturi autem blanditiis asperiores deserunt dolor nihil earum. At, magni laudantium saepe, amet voluptatum porro quasi non corrupti vero nulla voluptas, odio dolor maiores. Quibusdam, quasi quas! Suscipit esse sunt vero nihil reprehenderit iste quibusdam accusantium ullam assumenda?
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos obcaecati nam deserunt aut sed exercitationem possimus eligendi voluptatum assumenda a aspernatur quod veritatis error sequi blanditiis odit soluta amet, cum, earum dolore! Aspernatur excepturi, harum quaerat error at deleniti dicta fuga! Excepturi atque voluptatum dolorem nulla sint ab adipisci doloribus!

      </p>
  </div>

  <div class="ml-5 mt-3">
      <img class="rounded" height="400px" width="332px" src="../assets/img/recyclage.jpg" alt="">
  </div>

</div>
